<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
    <style>
        .img-cover {
            object-fit: cover;
        }
    </style>

<body>

<div id="app">

    <div class="container">
        <div class="row" id="content">
            <card :item="item" v-for="(item,key) in pageData" :key="key"></card>
        </div>
        <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation example">
             <ul class="pagination" id="pageid">
                 <pagenum @previous="prePage" @next="nextPage" @now="nowPage" :page="pageNum" :data="pageData"></pagenum>
             </ul>
           </nav>
        </div>
     </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                jsonData: [],
                pageData: [],
                pageNum: {},
            }
        },

        created(){
            const jsonUrl = 'https://api.kcg.gov.tw/api/service/Get/9c8e1450-e833-499c-8320-29b36b7ace5c';
            fetch(jsonUrl, {method: 'get'})
            .then((response) => {
                return response.json();
            }).then((data) => {
                this.jsonData = data.data.XML_Head.Infos.Info;
                this.pagination(this.jsonData, 1);
            })
        },
        methods: {
            pagination(jsonData, nowPage) {
            console.log(nowPage);
            // 取得全部資料長度
            const dataTotal = jsonData.length;
            
            // 設定要顯示在畫面上的資料數量
            // 預設每一頁只顯示 20 筆資料。
            const perpage = 20;
            
            // page 按鈕總數量公式 總資料數量 / 每一頁要顯示的資料
            // 這邊要注意，因為有可能會出現餘數，所以要無條件進位。
            const pageTotal = Math.ceil(dataTotal / perpage);
            
            // 當前頁數，對應現在當前頁數
            let currentPage = nowPage;
            
            // 因為要避免當前頁數筆總頁數還要多，假設今天總頁數是 3 筆，就不可能是 4 或 5
            // 所以要在寫入一個判斷避免這種狀況。
            // 當"當前頁數"比"總頁數"大的時候，"當前頁數"就等於"總頁數"
            // 注意這一行在最前面並不是透過 nowPage 傳入賦予與 currentPage，所以才會寫這一個判斷式，但主要是預防一些無法預期的狀況，例如：nowPage 突然發神經？！
            if (currentPage > pageTotal) {
                currentPage = pageTotal;
            }
            
            // 由前面可知 最小數字為 6 ，所以用答案來回推公式。
            const minData = (currentPage * perpage) - perpage + 1 ;
            const maxData = (currentPage * perpage) ;
            
            // 先建立新陣列
            const data = [];
            // 這邊將會使用 ES6 forEach 做資料處理
            // 首先必須使用索引來判斷資料位子，所以要使用 index
            this.jsonData.forEach((item, index) => {
                // 獲取陣列索引，但因為索引是從 0 開始所以要 +1。
                const num = index + 1;
                // 這邊判斷式會稍微複雜一點
                // 當 num 比 minData 大且又小於 maxData 就push進去新陣列。
                if ( num >= minData && num <= maxData) {
                data.push(item);
                }
            })
            // 用物件方式來傳遞資料
            const page = {
                pageTotal,
                currentPage,
                hasPage: currentPage > 1,
                hasNext: currentPage < pageTotal,
            }
            this.pageData= data;
            this.pageNum= page;
            },
            prePage(){
                if(this.pageNum.currentPage > 1){
                    this.pageNum.currentPage--;
                    this.pagination(this.jsonData, this.pageNum.currentPage);
                }
                },
                nextPage(){
                if(this.pageNum.currentPage < this.pageNum.pageTotal){
                    this.pageNum.currentPage++;
                    this.pagination(this.jsonData, this.pageNum.currentPage);
                }
                },
                nowPage(item){
                this.pageNum.currentPage = item;
                this.pagination(this.jsonData, this.pageNum.currentPage);
                },
            },
    });

    app.component('card',{
        props:['item'],
        template:`<div class="col-md-6 py-2 px-1">
                    <div class="card">
                        <div class="card bg-dark text-white text-left">
                            <img class="card-img-top img-cover" height="155" :src="item.Picture1">
                            <div class="card-img-overlay d-flex justify-content-between align-items-end p-0 px-3" style="background-color: rgba(0, 0, 0, .2)">
                            <h5 class="card-img-title-lg">{{item.Name}}</h5><h5 class="card-img-title-sm">{{item.Zone}}</h5>
                            </div>
                        </div>
                        <div class="card-body text-left">
                        <p class="card-text"><i class="far fa-clock fa-clock-time"></i>&nbsp;{{item.Opentime}}</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt fa-map-gps"></i>&nbsp;{{item.Add}}</p>
                        <p class="card-text"><i class="fas fa-mobile-alt fa-mobile"></i>&nbsp;{{item.Tel}}</p>
                            <div v-if="item.Ticketinfo !== ''" >
                                <p class="card-text"><i class="fas fa-tags text-warning"></i>&nbsp;{{item.Ticketinfo}}</p>
                            </div>
                        </div>
                    </div>
                </div>`,
    });

    app.component('pagenum',{
        props:['page', 'data'],
        emits:["previous","next","now"],
        template:`
        <li class="page-item" :class="{'disabled':page.currentPage <=1}">
            <a class="page-link" href="#" @click.prevent="this.$emit('previous')">Previous</a></li>
        <li class="page-item" :class="{'active':page.currentPage == key+1}" v-for="(item, key) in page.pageTotal" :key="key">
            <a class="page-link" href="#" data-page="key" @click.prevent="this.$emit('now',item)">{{key+1}}</a></li>
        <li class="page-item" :class="{'disabled':page.currentPage >=page.pageTotal}">
            <a class="page-link" href="#" @click.prevent="this.$emit=('next')">Next</a></li>
        `,
    })
    

    app.mount('#app');
</script>




</body>
</html>